" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader=","
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Misc
set colorcolumn=80
nnoremap <leader>ev :e ~/.ideavimrc<CR>

" w,q manips
nnoremap <leader>q :q!<cr>
nnoremap <leader>z :wq<cr>
nnoremap <leader>w :w<cr>
" NERDTree
set NERDTree
nnoremap <C-n> :NERDTreeToggle<CR>
autocmd DirChanged global :NERDTreeCWD

" Splitting
nnoremap <leader>v <C-w>v<C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l


"Switching tabs
nnoremap gt :tabn<cr>
nnoremap gT :tabp<cr>
map gx <Action>(CloseContent)

"Git

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"nnoremap <leader>nt <Action>(NextTab)<cr>
"map <C-l> <Action>(NextTab)
"map <C-k> <Action>(PreviousTab)
"map <C-x> <Action>(CloseContent)
map <C-/> <Action>(CommentByLineComment)
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)

map <leader>fu <Action>(FindUsages)
map <leader>gi <Action>(GoToImplementation)

nmap <leader>si :action SplitVertically<CR>:action NextSplitter<CR>:action GotoImplementation<CR>
nmap <leader>hi :action SplitHorizontally<CR>:action NextSplitter<CR>:action GotoImplementation<CR>
nmap <leader>sd :action SplitVertically<CR>:action NextSplitter<CR>:action GotoDeclaration<CR>
nmap <leader>hd :action SplitHorizontally<CR>: action NextSplitter<CR>:action GotoDeclaration<CR>

"" rider specific
nmap <leader>sb :action RebuildSolutionAction<CR>:echo "Rebuilding..."<CR>
nmap <leader>sc :action CleanSolutionAction<CR>: echo "Clean..."<CR>

nmap <leader>rc :action ChooseRunConfiguration<CR>
nmap <leader>rd :action Debug<CR>:echo "Debugging..."<CR>
nmap <leader>rr :action Run<CR>:echo "Running..."<CR>
nmap <leader>rx :action Stop<CR>:echo "Stopped run/debug"<CR>

